<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script src="/static/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I="></script>
    <script type="text/javascript" charset="utf-8">
        document.addEventListener("DOMContentLoaded", function(){

            // Connect to the Socket.IO server.
            namespace = '/{{ room.admin_room.key }}';
            var socket = io(namespace);

            socket.on('data_update', function(data, cb) {
              console.log(data);
              for(var x in data){
                  var channel = data[x];
                  var sel = "#channel_" + channel.channel_id + " div.list-container" 
                  var ele = document.querySelector(sel)
                  ele.innerHTML = "<ul>";
                    for(var y in data[x]["current_list"]){
                        var user = data[x]["current_list"][y];
                        ele.innerHTML += "<li>" + user + "</li>";
                    }
                  ele.innerHTML += "</ul>";
              }
              if(cb)
                cb();
            });
        });
    </script>
</head>
<body>
    <h1>Your Room: {{ room.name }}</h1>
    <!-- TODO: layout -->
    <div id="room_details">
        <a href="/admin/{{ room.admin_room.key }}">Admin Link</a>

        <a href="/guest/{{ room.guest_key }}">Guest Link</a>
    </div>
    <div id="channel_details">
    {% for channel in room.get_channels() %}
        <div id="channel_{{channel.id}}"><h3>{{channel.name}}</h3><div class="list-container"></div></div>
    {%- endfor %}
    </div>
</body>
</html>
