{% extends "layout.html" %}
{% block body %}
    <h1>Create new room</h1>
    <form id="emit" method="POST" action='/admin_generate'>
        <label for="room_name">Room name</label>
        <input type="text" name="room_name" id="room_name" placeholder="Room name">
        <label for="channels">Comma seperated list of channels</label>
        <input type="text" name="channels" id="channels" placeholder="Normal,Technische Anmerkung">
        <input type="submit" value="Create Room">
    </form>
{% endblock %}
